.container {
    display: grid;
    grid-column: 1 / all;
    place-items: center;
}

.pokemonsContainer {
    width: 90%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    gap: 1rem;
}

.header {
    display: grid;
    grid-column: 1 / all;
    place-items: center;
}

.header > .h1 {
    display: flex;
    place-items: center;
    gap: 1rem;
}

.pagination {
    width: '100%';
    position: fixed;
    z-index: 100;
    bottom: 0;
    display: flex;
    place-content: center;
}
