@import "spacing.css";
:root {
    font-family: 'Sono', sans-serif;
    --bg-color: #08000e;
    background-color: var(--bg-color);
    color: white;
    /* font-family: 'Press Start 2P', cursive; */
}

html,
body {
    margin: 0 0 0 0;
}